@import url('https://fonts.googleapis.com/css?family=Open+Sans|Oswald:300,400');
html , body {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;;
}

body {
  margin:0;
  padding:0;
}
.nav-wrapper {
  width:100%;
  height: 75px;
  background: white;

}
.hamburger {
  height:50px;
  width: 50px;
  background: black;
  position: absolute;
  right:3px;
  top:12px;
}

.top-home-main {
  background: url('../IMG/wot-masthead-dark.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 60vh;
  width: 100%;
  margin-top: 0;
  position: relative;
}
#title {
  width:200px;
  position: absolute;
  top:12px;
  left:10px;

}
.font-container {
  width: 100%;
  height: 260px;
  /*background: blue;*/
  font-family: 'Oswald', sans-serif;
  position: relative;
}
.brick {
  height:25px;
  width: 100px;
  background: white;
}
.digital-container {
  margin: auto;
  width: 100%;
}
.digital {
float: left;
}
#workshop {
  clear: both;
}
.pic-center {
  width: 100%;
  display:block;
  position:absolute;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);
}
.pic-center div {
  text-align: center;
}
@media (min-width:996px) {
  .hamburger {
    display: none;
  }
}
.main-content {
  background: #F0F0F0;
  width: 100%;
font-family: 'Open Sans', sans-serif;
font-size: 25px;
color:#406671;

}
.desc-text {
  width:100%;
  margin-bottom: 10px;
}
.image-container {
  width:100%;
  display: flex;
  justify-content:center;;
  align-content:space-around;
  margin-top: 20px;
}
.image {
  width:112px;
  height: 112px;
  background: url('../IMG/sprite_home.png');
  /*border: 2px solid black;*/
  /*background-position: -22px -100px;*/
  background-position-y:557px;
  background-position-x:-5px;
}
.desc-text {
  color:gray;
  text-align: center;
}
.image-container-text {
  font-size: 45px;
  /*font-weight: bol;*/
  color:#406671;
  text-align: center;

}
.super {
  color:#BDD436;
  font-weight: bolder;
}
.services-container {
background: white;
width: 100%;
}
.service {
  padding:40px;
  display: flex;
  flex-direction:column;
  justify-content:space-around;
  align-items: center;
}
.img-lightbulb {
  height:222px;
  width: 142px;
  border:2px solid black;
  background: url('../IMG/sprite_home.png');
  background-position-y:587px;
  background-position-x:-303px;
}
.service-text {
  font-family: 'Open Sans', sans-serif;
  font-size: 20px;
  color:#406671;
  width:79%;
  /*height:121px;*/
  border:1px solid red;
  text-align: center;
}
.learn-service {
  width:44%;
  border: 1px solid green;
  text-align: center;
  /*height:121px;*/
  font-family: 'Open Sans', sans-serif;
  color:#bbea3a;
  font-size:21px;
  font-weight:bold;
  margin:20px
}
@media(min-width:708px){
  .service-text {
    width:50%;
  }

}
@media (min-width:1024px) {
  .service {
    display: flex;
    flex-flow: column;
    justify-content: center;
    width:33%;
    border-left:1px solid #406671;
    float:left;
  }
  .service-text {
    width: 316px;
  }
  .learn-more-box-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .learn-more-top-text {
    width: 334px;
  }

}
.learn-more-container {
  width: 100%;
  background:#F0F0F0;
  padding:15px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.learn-more-top-text {
font-family: 'Open Sans', sans-serif;
text-align: center;
color:#406671;
background: white;
margin: 10px;
font-size: 24px;
border-radius: 4px;
height:160px;
display: flex;
flex-direction: column;
justify-content: center;}
#how {
  font-size: 40px;
  color:#406671;
  text-align: center;
  background:#F0F0F0;
  font-family: 'Open Sans', sans-serif;

}
#help {
  font-weight:bolder;
}
#ways {
  font-size: 25px;
  background: #F0F0F0;
    font-family: 'Open Sans', sans-serif;
    text-align: center;
}
.lower-text {
  font-size: 16px;
  color:#406671;
}
.contact-btn-container {
  width: 100%;
  background: #F0F0F0;
  display: flex;
  /*align-items: center;*/
  justify-content: center;
  margin-top: 82px;
}
.contact-btn {
  /*width: 753px;
  height:80px;*/
  height:60px;
  width: 383px;
  border-radius: 50px;
  background: #BDD436;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  color: white;
  font-family: 'Open Sans', sans-serif;
}
@media (min-width:768px){

  .contact-btn {
    height:60px;
    width: 383px;
  }
}
 /*@media (min-width:700px) {
   .hamburger {
     background: red;
   }
   .nav {
     display:block;
   }
 }
 @media (min-width:900px){
   .nav {
     display: none;
   }
   .hamburger {
     background: yellow;
   }
 }*/
